{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}?q=15">
{% endblock %}

{% block body %}

    <div class="container">
        <header>
            <h1>Read-book</h1>
            <h3>This is a Book Review Site!</h2>
        </header>
        <br>
        <section>
            <p>It's free, <span class="bold-text">Create Account</span> to Search, Read and See Reviews ....</p>
            <br><br>
            <span class="big-text">Create Account.</span>
            <span class="big-text">I already have one.</span>
            <a href="{{ url_for('register') }}"><button class="btn">register</button></a>
            <a href="{{ url_for('login') }}"><button class="btn">login</button></a>
        </section>
    </div>
{% endblock %}